<div id="<%= dom_id auto %>">
  <p>
    <strong>Modelo:</strong>
    <%= auto.modelo %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= auto.marca %>
  </p>

  <p>
    <strong>Caracteristicas:</strong>
    <%= auto.caracteristicas %>
  </p>

  <p>
    <strong>Fabricacion:</strong>
    <%= auto.fabricacion %>
  </p>

  <p>
    <strong>Autonomia:</strong>
    <%= auto.autonomia %>
  </p>

  <p>
    <strong>Precio arriendo:</strong>
    <%= auto.precio_arriendo %>
  </p>

  <p>
    <strong>Imagen auto:</strong>
    <%= auto.imagen_auto %>
  </p>

</div>
