<div id="<%= dom_id car %>">
  <p>
    <strong>Modelo:</strong>
    <%= car.modelo %>
  </p>

  <p>
    <strong>Marca:</strong>
    <%= car.marca %>
  </p>

  <p>
    <strong>Características:</strong>
    <%= car.características %>
  </p>

  <p>
    <strong>Fabricación:</strong>
    <%= car.fabricación %>
  </p>

  <p>
    <strong>Autonomia:</strong>
    <%= car.autonomia %>
  </p>

  <p>
    <strong>Precio arriendo:</strong>
    <%= car.precio_arriendo %>
  </p>

  <p>
    <strong>Imagen:</strong>
    <%= car.imagen %>
  </p>

  <p>
    <strong>Id user:</strong>
    <%= car.id_user_id %>
  </p>

  <p>
    <strong>Id admin:</strong>
    <%= car.id_admin_id %>
  </p>

</div>
